@model SummerCamp.Web.Models.AnnouncementDetails


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>

    <style>
        * {
            box-sizing: border-box;
        }

        #myInput {
            background-image: url('/css/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

            #myTable th, #myTable td {
                text-align: left;
                padding: 12px;
            }

            #myTable tr {
                border-bottom: 1px solid #ddd;
            }

                #myTable tr.header, #myTable tr:hover {
                    background-color: #f1f1f1;
                }

        body {
            background-image: url("https://www.clipartsgram.com/image/1284342478-56573976094735chapwood-website-background-1.jpg");
        }
    </style>

</head>
<body>
    <h4>Announcement Details</h4>
    <hr />
</body>
<table id="myTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Closed)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        

        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>

        

        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        

        <th>
            @Html.DisplayNameFor(model => model.Phonenumber)
        </th>

        

        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>

        

        <th>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </th>

       

        <th>
            @Html.DisplayNameFor(model => model.PostDate)
        </th>

        

    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.Title)
        </td>

        <td>
            @Html.DisplayFor(model => model.Closed)
        </td>

        <td>
            @Html.DisplayFor(model => model.Description)
        </td>

        <td>
            @Html.DisplayFor(model => model.CategoryName)
        </td>

        <td>
            @Html.DisplayFor(model => model.Email)
        </td>

        <td>
            @Html.DisplayFor(model => model.Phonenumber)
        </td>

        <td>
            @Html.DisplayFor(model => model.CategoryId)
        </td>

        <td>
            @Html.DisplayFor(model => model.ExpirationDate)
        </td>

        <td>
            @Html.DisplayFor(model => model.PostDate)
        </td>


    </tr>
</table>

    <p>
        @Html.ActionLink("Reviews", "GetReview", new { id = Model.Id }) |
        @Html.ActionLink("Extend Date", "Extend", new { id = Model.Id }) |
        @Html.ActionLink("Close Announcement", "Close", new { id = Model.Id }) |
        @Html.ActionLink("Activate Announcement", "Activate", new { id = Model.Id }) |
        @Html.ActionLink("HOME", "Index")
    </p>

</html>
