@model SummerCamp.Web.Models.AnnouncementNewReview
@{
    ViewBag.Title = "Comment/Review";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Comment/Review</title>

    <style>
        * {
            box-sizing: border-box;
        }

        #myInput {
            background-image: url('/css/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

            #myTable th, #myTable td {
                text-align: left;
                padding: 12px;
            }

            #myTable tr {
                border-bottom: 1px solid #ddd;
            }

                #myTable tr.header, #myTable tr:hover {
                    background-color: #f1f1f1;
                }

        body {
            background-image: url("https://www.clipartsgram.com/image/1284342478-56573976094735chapwood-website-background-1.jpg");
        }
    </style>

</head>
<body>
    <h4>Comment/Review</h4>
    <hr />
</body>


<div style="max-width:600px">
    @using (Html.BeginForm("Review", "Home", FormMethod.Post, new { role = "form" }))
    {
        @Html.ValidationSummary(true)
        <div class="form-group">
            @if (ViewBag.Result != null)
            {
                <div style="color:red">@ViewBag.Result</div>
            }
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.AnnouncementId)
            @Html.TextBoxFor(a => a.AnnouncementId, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.AnnouncementId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.Username)
            @Html.TextBoxFor(a => a.Username, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Username, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.Comment)
            @Html.TextBoxFor(a => a.Comment, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Comment)
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.Rating)
            @Html.TextBoxFor(a => a.Rating, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Rating)
        </div>


        <input type="submit" value="Create" class="btn-default" />
    }
</div>
<p>@Html.ActionLink("HOME", "Index")</p>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
</html>
